registry=https://repo.smartech.ir/repository/npm-adverge-group/
//repo.smartech.ir/repository/npm-advege-group/:username=adverge_developer
//repo.smartech.ir/repository/npm-advege-group/:_password=dWFNeWhaY3I0WHBYc25n
//repo.smartech.ir/repository/npm-advege-group/:always-auth=true
email=dev@example.com
//repo.smartech.ir/repository/npm-adverge-group/:_authToken=NpmToken.660d8ea8-205b-3d8a-8fd2-0ac087aabb99